
body {
  background:url(unnamed.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100vh;

  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(10%);


  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}






.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
h1 {
  text-transform: uppercase;
  margin: 0;
/*  font-size: 5rem;
*/  white-space: nowrap;
  font-size:5vw
}
h2 {
  font-size: 2vw;
}
p {
  margin: 0;
  font-size: 1.3rem;
  color: white;
}

main {
  max-width: 500px;
  margin: 20px auto;
}

.navbar-custom {
    background-color: #82b1ff;

}

.box {
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, .3);
}

p.card-text {
  color: #82b1ff;
}
